/*========================================================
=            CSS for web            =
========================================================*/

textarea:focus, input[type="text"]:focus,textarea[type="text"]:focus,   input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus,  input[type="color"]:focus, .uneditable-input:focus, .form-control:focus {  
border-color: (your color) or none;
box-shadow:(your color) or none;
outline: (your color) or none;}


body{ margin: 0; padding: 0; background: #00000; }
main {
  background: #e3e3e3;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
}
main.padding {
  padding-left: 100px;
  padding-right: 100px;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
p.absolute-example {
  position: absolute;
  display: block;
  left: 0;
  top: 0; 
  background: yellow;
}
section {
  padding: 30px 0;
  margin: 20px 0;
}
p.row-example { color: orange; text-align: center; }
p.toggle {
  text-align: center;
}
.by-me { text-align: center; }



.row {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  background:  #D0D6D2;
}
#container1 {
  background: #cccccc;
}


#with-container-fluid {
  background: green;
}


